# **코드업** 100제 풀이

3항 연산 - 정수 2개 입력받아 큰 값 출력하기

In [ ]:
a, b = input().split()
a = int(a)
b = int(b)
c = (a if (a>=b) else b)
print(int(c))

123 456
456

3항 연산 - 정수 3개 입력받아 가장 작은 값 출력하기

In [ ]:
a, b, c = input().split()
a = int(a)
b = int(b)
c = int(c)
d = (a if (a<=b) else b ) if ((a if (a<=b) else b ) <= c) else c
print(int(d))

3 -1 5
-1

선택실행구조 - 정수 3개 입력받아 짝수만 출력하기

In [ ]:
a, b, c = input().split()
a = int(a)
b = int(b)
c = int(c)

if a%2 == 0:
  print(a)
if b%2 == 0:
  print(b)
if c%2 == 0:
  print(c)

1 4 8
4
8

선택실행구조 - 정수 3개 입력받아 짝/홀 출력하기

In [ ]:
a, b, c = input().split()
a = int(a)
b = int(b)
c = int(c)

if a%2 == 0:
  print('even')
else:
  print('odd')

if b%2 == 0:
  print('even')
else:
  print('odd')
  
if c%2 == 0:
  print('even')
else:
  print('odd')

1 2 8
odd
even
even

선택실행구조 - 정수 1개 입력받아 분류하기

In [ ]:
a = input()
a = int(a)
if a < 0:
  if a%2 == 0:
    print('A')
  else:
    print('B')
else:
  if a%2 == 0:
    print('C')
  else:
    print('D')

-2147483648
A

선택실행구조 - 점수 입력받아 평가 출력하기

In [ ]:
a = input()
a = int(a)
if a >= 90:
  print('A')
else:
  if a >=70:
    print('B')
  else:
    if a >= 40:
      print('C')
    else:
      print('D')

73
B

선택실행구조 - 평가 입력받아 다르게 출력하기

In [ ]:
a = input()

if a == 'A':
  print('best!!!')
else:
  if a == 'B':
    print('good!!')
  else:
    if a == 'C':
      print('run!')
    else:
      if a == 'D':
        print('slowly~')
      else:
        print('what?')

A
best!!!

선택실행구조 - 월 입력받아 계절 출력하기

In [ ]:
a = input()
a = int(a)

if a == 12 or a<=2:
  print('winter')
else:
  if a <=5:
    print('spring')
  else:
    if a <= 8:
      print('summer')
    else:
      print('fall')

6
summer

반복실행구조 - 0 입력될 때까지 무한 출력하기

In [ ]:
n = 1
while n != 0:
  n = int(input())
  if n != 0:
    print(n)

7
7
4
4
2
2
3
3
0

반복실행구조 - 정수 1개 입력받아 카운트다운 출력하기 1

In [ ]:
a = input()
a = int(a)

while a != 0:
  print(a)
  a -= 1

5
5
4
3
2
1

반복실행구조 - 정수 1개 입력받아 카운트다운 출력하기 2

In [ ]:
a = input()
a = int(a)

while a != 0:
  a -= 1
  print(a)

5
4
3
2
1
0

반복실행구조 - 문자 1개 입력받아 알파벳 출력하기

In [ ]:
s = ord(input()) # 문자열을 정수값으로
t = ord('a')
while t <= s:
  print(chr(t), end=' ') # 정수값을 문자열으로, 뒤에 공백 추가
  t += 1

o
a b c d e f g h i j k l m n o

반복실행구조 - 정수 1개 입력받아 그 수까지 출력하기

In [ ]:
n = input()
n = int(n)
st = 0
while st <= n:
  print(st)
  st += 1

4
0
1
2
3
4

반복실행구조 - 정수 1개 입력받아 그 수까지 출력하기 2

In [ ]:
n = int(input())

for i in range(n+1):
  print(i)

4
0
1
2
3
4

종합 - 짝수 합 구하기

In [ ]:
n = int(input())
s = 0
for i in range(n+1):
  if i%2 == 0:
    s += i

print(s)

5
6

종합 - 원하는 문자가 입력될 때 까지 반복 출력하기

In [ ]:
n = 0
while n != 'q':
  n = input()
  print(n)

x
x
b
b
k
k
d
d
l
l
q
q

종합 - 언제까지 더해야 할까?

In [ ]:
n = int(input())
p = 1
b = 1
while n >= p:
  p += b
  b += 1
print(b-1)

54
10

종합 - 주사위 2개 던지기

In [ ]:
n, m = input().split()
n = int(n)
m = int(m)
for i in range(1,n+1):
  for l in range(1,m+1):
    print(i,l)

2 3
1 1
1 2
1 3
2 1
2 2
2 3

종합 - 16진수 구구단 출력하기

In [ ]:
n = input()
n = int(n,16)
m = int(16)
for l in range(1,m):
  print('%X'%n,'*','%X'%l,'=%X'%(n*l),sep="")

B
B*1=B
B*2=16
B*3=21
B*4=2C
B*5=37
B*6=42
B*7=4D
B*8=58
B*9=63
B*A=6E
B*B=79
B*C=84
B*D=8F
B*E=9A
B*F=A5

종합 - 3 6 9 게임의 왕이 되자

In [ ]:
n = input()
for i in range(1,int(n)+1):
  l = i%10
  i = i//10
  a = 0
  b = 0
  if l == 3:
    a += 1
  elif l == 6:
    a += 1
  elif l == 9:
    a += 1
  else:
    b = l

  if i == 3:
    a += 1
  elif i == 6:
    a += 1
  elif i == 9:
    a += 1
  elif a == 0:
    b = b + 10 * i
    print(b)

  if a == 1:
    print('X')
  elif a == 2:
    print('XX')

45
1
2
X
4
5
X
7
8
X
10
11
12
X
14
15
X
17
18
X
20
21
22
X
24
25
X
27
28
X
X
X
X
XX
X
X
XX
X
X
XX
40
41
42
X
44
45

종합 - 빛 섞어 색 만들기

In [ ]:
r, g, b = input().split()
r = int(r)
g = int(g)
b = int(b)
n = 0
for i1 in range(r):
  for i2 in range(g):
    for i3 in range(b):
      print(i1,i2,i3)
      n += 1
print(n)

2 2 2
0 0 0
0 0 1
0 1 0
0 1 1
1 0 0
1 0 1
1 1 0
1 1 1
8

종합 - 소리 파일 저장용량 계산하기

In [ ]:
h, b, c, s = input().split()
h = int(h)
b = int(b)
c = int(c)
s = int(s)
mb = h * b * c * s / 8 / 1024 / 1024
print(round(mb,1),'MB',sep=" ")

44100 16 2 10
1.7 MB

종합 - 그림 파일 저장용량 계산하기

In [ ]:
w, h, b = input().split()
w = int(w)
h = int(h)
b = int(b)

mb = w * h * b / 8 / 1024 / 1024

print("{:.2f} MB".format(mb))

100 100 4
0.00 MB

종합 - 거기까지! 이제 그만 ~

In [ ]:
n = int(input())
a = 0
b = 0
while True:
  if a >= n:
    break

  b += 1
  a += b

print(a)

1
1

종합 - 3의 배수는 통과

In [ ]:
n = int(input())

for i in range(1, n+1):
  if i%3 == 0:
    continue
  print(i, end=' ')

30
1 2 4 5 7 8 10 11 13 14 16 17 19 20 22 23 25 26 28 29

종합 - 수 나열하기

In [ ]:
a, d, n = input().split()
a = int(a)
d = int(d)
n = int(n)

for i in range(n-1):
  a = a + d

print(a)

1 3 5
13

종합 - 수 나열하기2

In [ ]:
a, d, n = input().split()
a = int(a)
d = int(d)
n = int(n)

for i in range(n-1):
  a = a * d

print(a)

2 3 7
1458

종합 - 수 나열하기3

In [ ]:
a, m, d, n = input().split()
a = int(a)
m = int(m)
d = int(d)
n = int(n)

for i in range(n-1):
  a = (a * m) + d
print(a)

1 -2 1 8
-85

종합 - 함께 문제 푸는 날

In [ ]:
a, b, n = input().split()
a = int(a)
b = int(b)
n = int(n)
d = 1
while True:
  if (d%a == 0) and (d%b == 0) and (d%n == 0):
    break
  d = d + 1
print(d)

3 7 9
63

리스트 - 이상한 출석 번호 부르기1

In [ ]:
n = int(input())      #개수를 입력받아 n에 정수로 저장
a = input().split()  #공백을 기준으로 잘라 a에 순서대로 저장

for i in range(n) :  #0부터 n-1까지...
  a[i] = int(a[i])       #a에 순서대로 저장되어있는 각 값을 정수로 변환해 다시 저장

d = []                     #d라는 이름의 빈 리스트 [ ] 변수를 만듦. 대괄호 기호 [  ] 를 사용한다.
for i in range(24) :  #[0, 0, 0, ... , 0, 0, 0] 과 같이 24개의 정수 값 0을 추가해 넣음
  d.append(0)        #각 값은 d[0], d[1], d[2], ... , d[22], d[23] 으로 값을 읽고 저장할 수 있음.

for i in range(n) :    #번호를 부를 때마다, 그 번호에 대한 카운트 1씩 증가
  d[a[i]] += 1

for i in range(1, 24) :  #카운트한 값을 공백을 두고 출력
  print(d[i], end=' ')

10
1 3 2 2 5 6 7 4 5 9
1 2 1 1 2 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0

리스트 - 이상한 출석 번호 부르기

In [ ]:
n = int(input())      #개수를 입력받아 n에 정수로 저장
a = input().split()  #공백을 기준으로 잘라 a에 순서대로 저장

for i in range(n) :  #0부터 n-1까지...
  a[i] = int(a[i])       #a에 순서대로 저장되어있는 각 값을 정수로 변환해 다시 저장

d = []     
for i in range(n) : 
  d.append(a[n-i-1])

for i in d:
  print(i, end=' ')

10
10 4 2 3 6 6 7 9 8 5
5 8 9 7 6 6 3 2 4 10

리스트 - 이상한 출석 번호 부르기

In [ ]:
n = int(input())      #개수를 입력받아 n에 정수로 저장
a = input().split()  #공백을 기준으로 잘라 a에 순서대로 저장

for i in range(n) :  #0부터 n-1까지...
  a[i] = int(a[i])       #a에 순서대로 저장되어있는 각 값을 정수로 변환해 다시 저장

# 첫번째와 두번째 비교, 작은 수 남기기
# 결과와 세번째 비교, 작은 수 남기기
# 무한반복

while True:
  try:
    if a[0] <= a[1]:
      del a[1]
    elif a[0] > a[1]:
      del a[0]
  except:
    break

print(a[0])

10
10 4 2 3 6 6 7 9 8 5
2

리스트 - 바둑판에 흰 돌 놓기

In [ ]:
d=[]                        #대괄호 [ ] 를 이용해 아무것도 없는 빈 리스트 만들기
for i in range(20) :
  d.append([])         #리스트 안에 다른 리스트 추가해 넣기
  for j in range(20) : 
    d[i].append(0)    #리스트 안에 들어있는 리스트 안에 0 추가해 넣기

n = int(input())
for i in range(n) :
  x, y = input().split()
  d[int(x)][int(y)] = 1

for i in range(1, 20) :
  for j in range(1, 20) : 
    print(d[i][j], end=' ')    #공백을 두고 한 줄로 출력
  print()                          #줄 바꿈

In [ ]:
d=[]
for i in range(20) : 
  d.append([])
  for j in range(20) :  
    d[i].append(0)

for i in range(1, 20) :
  for j in range(1, 20) : 
    print(d[i][j], end=' ')    #공백을 두고 한 줄로 출력
  print()                          #줄 바꿈

In [ ]:
d = [[0,1],[2,3]]
d[1][0] = 4
d

[[0, 1], [4, 3]]

리스트 - 바둑알 십자 뒤집기

In [ ]:
d=[]                        #대괄호 [ ] 를 이용해 아무것도 없는 빈 리스트 만들기
for i in range(0, 19) :
  d.append(input().split(' '))         #리스트 안에 다른 리스트 추가해 넣기
  #d.append(('1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0').split(' '))  

#for i in range(0, 19):
#  for j in range(0, 19) : 
#    print(d[i][j], end=' ')    #공백을 두고 한 줄로 출력
#  print()                          #줄 바꿈

n = int(input())
for i in range(n) :
  x,y=input().split()
  x = int(x)-1
  y = int(y)-1
  for j in range(0, 19) :
    
    if int(d[x][j])==1 :
      d[x][j]=0
      #print("T1",x,j)
    else:
      d[x][j]=1
      #print("T2",x,j)

    if int(d[j][y])==1 :
      d[j][y]=0
      #print("T3",j,y)
    else :
      d[j][y]=1
      #print("T4",j,y)

#print(d[10][0])
#print(int(d[10][0]) == 1)


for i in range(0, 19):
  for j in range(0, 19) : 
    print(d[i][j], end=' ')    #공백을 두고 한 줄로 출력
  print()                          #줄 바꿈

리스트 - 설탕과자 뽑기

In [ ]:
h,w=input().split()
h = int(h)
w = int(w)
#판떼기 생성
d=[]                        #대괄호 [ ] 를 이용해 아무것도 없는 빈 리스트 만들기
for k in range(h) :
  d.append([])         #리스트 안에 다른 리스트 추가해 넣기
  for j in range(w) : 
    d[k].append(0)    #리스트 안에 들어있는 리스트 안에 0 추가해 넣기

n = int(input())
for p in range(n):
  i,b,x,y = input().split()
  i = int(i)
  b = int(b)
  x = int(x)-1
  y = int(y)-1
  d[x][y] = 1
  if b == 0: # 가로 확장
    for t in range(1,i):
      d[x][y+t] = 1


  else: # 세로 확장\
    for t in range(1,i):
      d[x+t][y] = 1


#판떼기 출력
for i in range(0, h):
  for j in range(0, w) : 
    print(d[i][j], end=' ')   
  print()

리스트 - 성실한 개미

In [ ]:
d=[]
for i in range(0, 10) :
  d.append(input().split(' ')) 

x = 1
y = 1

d[x][y] = 9
while True:
  if int(d[x][y+1]) == 2:
    y += 1
    d[x][y] = 9
    break
  
  elif int(d[x+1][y]) == 2:
    x += 1
    d[x][y] = 9
    break
  elif(int(d[x][y+1]) == 0):
    y += 1
    d[x][y] = 9

  elif(int(d[x][y+1]) == 1):
    x += 1
    d[x][y] = 9

for i in range(10):
  for j in range(10) : 
    print(d[i][j], end=' ')   
  print()

1 1 1 1 1 1 1 1 1 1
1 0 0 1 0 0 0 0 0 1
1 0 0 1 1 1 0 0 0 1
1 0 0 0 0 0 0 1 0 1
1 0 0 0 0 0 0 1 0 1
1 0 0 0 0 1 0 1 0 1
1 0 0 0 0 1 2 1 0 1
1 0 0 0 0 1 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 9 9 1 0 0 0 0 0 1
1 0 9 1 1 1 0 0 0 1
1 0 9 9 9 9 9 1 0 1
1 0 0 0 0 0 9 1 0 1
1 0 0 0 0 1 9 1 0 1
1 0 0 0 0 1 2 1 0 1
1 0 0 0 0 1 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1

In [ ]:
d=[]                        #대괄호 [ ] 를 이용해 아무것도 없는 빈 리스트 만들기
for i in range(0, 10) :
  d.append(input().split(' '))         #리스트 안에 다른 리스트 추가해 넣기

x = 1
y = 1

d[x][y] = 9
while True:
  if int(d[x][y+1]) == 2:
    y += 1
    d[x][y] = 9
    break
  
  elif int(d[x+1][y]) == 2:
    x += 1
    d[x][y] = 9
    break

  elif(int(d[x][y+1]) == 0):
    y += 1
    d[x][y] = 9
    #판떼기 출력
#    for i in range(10):
#      for j in range(10) : 
#        print(d[i][j], end=' ')   
#      print()          
  elif(int(d[x][y+1]) == 1):
    x += 1
    d[x][y] = 9
#    for i in range(10):
#      for j in range(10) : 
#        print(d[i][j], end=' ')   
#      print()    
  
#판떼기 출력
for i in range(10):
  for j in range(10) : 
    print(d[i][j], end=' ')   
  print()

In [ ]:
d=[]                        #대괄호 [ ] 를 이용해 아무것도 없는 빈 리스트 만들기
#for i in range(0, 10) :
#  d.append(input().split(' '))         #리스트 안에 다른 리스트 추가해 넣기
d.append('1 1 1 1 1 1 1 1 1 1'.split(' '))
d.append('1 0 0 0 0 0 0 0 0 1'.split(' '))
d.append('1 0 0 0 0 0 0 0 0 1'.split(' '))
d.append('1 0 0 0 0 0 0 0 0 1'.split(' '))
d.append('1 0 0 0 0 0 0 0 0 1'.split(' '))
d.append('1 0 0 0 0 0 0 0 0 1'.split(' '))
d.append('1 0 0 0 0 0 2 0 0 1'.split(' '))
d.append('1 0 0 0 0 0 0 0 0 1'.split(' '))
d.append('1 0 0 0 0 0 0 0 0 1'.split(' '))
d.append('1 1 1 1 1 1 1 1 1 1'.split(' '))

x = 1
y = 1

d[x][y] = 9

while True:
  if(int(d[x][y+1]) == 0):
    y += 1
    d[x][y] = 9
    #판떼기 출력
#    for i in range(10):
#      for j in range(10) : 
#        print(d[i][j], end=' ')   
#      print()          
  elif(int(d[x+1][y]) == 0):
    x += 1
    d[x][y] = 9
#    for i in range(10):
#      for j in range(10) : 
#        print(d[i][j], end=' ')   
#      print()    
  else:
    if int(d[x][y+1]) == 2:
      y += 1
      d[x][y] = 9
      break

    elif int(d[x+1][y]) == 2:
      x += 1
      d[x][y] = 9
      break
    else:
      break
#판떼기 출력
for i in range(10):
  for j in range(10) : 
    print(d[i][j], end=' ')   
  print()

1 1 1 1 1 1 1 1 1 1
1 9 9 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 2 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 9 9 9 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 2 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 9 9 9 9 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 2 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 9 9 9 9 9 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 2 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 9 9 9 9 9 9 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 2 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 9 9 9 9 9 9 9 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 2 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 9 9 9 9 9 9 9 9 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 2 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 9 9 9 9 9 9 9 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 2 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 9 9 9 9 9 9 9 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 2 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 9 9 9 9 9 9 9 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 2 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 9 9 9 9 9 9 9 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 2 0 0 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 9 9 9 9 9 9 9 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 2 0 9 1
1 0 0 0 0 0 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 9 9 9 9 9 9 9 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 2 0 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 9 9 9 9 9 9 9 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 2 0 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 0 0 9 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 9 9 9 9 9 9 9 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 2 0 9 1
1 0 0 0 0 0 0 0 9 1
1 0 0 0 0 0 0 0 9 1
1 1 1 1 1 1 1 1 1 1

In [ ]:
d=[]
for i in range(0, 10) :
  d.append(input().split(' ')) 

x = 1
y = 1

d[x][y] = 9

while True:
  if(int(d[x][y+1]) == 0):
    y += 1
    d[x][y] = 9
    #판떼기 출력
#    for i in range(10):
#      for j in range(10) : 
#        print(d[i][j], end=' ')   
#      print()          
  elif(int(d[x+1][y]) == 0):
    x += 1
    d[x][y] = 9
#    for i in range(10):
#      for j in range(10) : 
#        print(d[i][j], end=' ')   
#      print()    
  else:
    if int(d[x][y+1]) == 2:
      y += 1
      d[x][y] = 9
      break

    elif int(d[x+1][y]) == 2:
      x += 1
      d[x][y] = 9
      break
    else:
      break
#판떼기 출력
for i in range(10):
  for j in range(10) : 
    print(d[i][j], end=' ')   
  print()

In [ ]:
bruh